.cont {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.card {
  width: 330px;
  height: 366px;

  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.card:hover {
  cursor: pointer;
}

.card div,
.card h3 {
  margin: 5px 15px 0 15px;
}

.card div {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #a9bcd0;
}
