.signUp {
    display: flex;
    justify-content: space-between;
    max-width: 1490px;
    margin: auto;
}
.left {
    /* width: 30%; */
    width: 463px;
    margin-left: 30px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo {
   width: 100%;
   margin-bottom: 20px;
   margin-top: 27px;
   display: flex;
   justify-content: center;
}
.logo_img {
    width: 340px;
    height: 53px;
}
.body {
    padding: 35px 35px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12), 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #373F51;
    margin-bottom: 25px;
}
.input_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.name_field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 6px;
}
.name {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #373F51;
    margin-left: 5px;
}
.input {
    background: #FFFFFF;
    border: 1px solid #A9BCD0;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}
.forgotPassword_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.remember_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkBox {
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border: 1px solid #A9BCD0;
    box-sizing: border-box;
    border-radius: 3px;
}
.remember_name {
    font-family: 'Helvetica';
    font-style: normal;
    margin-left: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #A9BCD0;
}
.forgot_name {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #DAA49A;
    text-decoration: none;
    cursor: pointer;
}
.forgot_name:hover {
    color: #DAA49A;
}
.btn_field {
    display: flex;
    justify-content: center;
}
.signIn_btn {
    width: 120px;
    height: 40px;
    background-color: #DAA49A;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12), 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 5px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin-top: 35px;
    margin-bottom: 25px;
    border: none;
    outline: none;
}
.comment {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #A9BCD0;
}
.font_red {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #DAA49A;
}
.signUp_field {
    margin: auto;
    margin-top: 20px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #373F51;
}
.footer_signUp_btn {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #DAA49A;
    text-decoration: none;
    cursor: pointer;
}
.footer_signUp_btn:hover {
    color: #DAA49A;
}
.full_name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.country {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.first_field {
    width: 48%;
    display: flex;
    flex-direction:  column;
    justify-content: flex-start;
}
.country_field {
    width: 48%;
    display: flex;
    flex-direction:  column;
    justify-content: flex-start;
}
.first_name_field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 6px;
}
.first_name {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #373F51;
    margin-left: 5px;
}
.country_name {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #373F51;
    margin-left: 5px;
}
.first_name_input {

}
.first_input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #A9BCD0;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 4px 10px;
    outline: none;
}
.signUp_btn {
    width: 120px;
    height: 40px;
    background-color: #DAA49A;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12), 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 5px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
}


.right {
    width: 60%;
    position: relative;
}
.right_bgField {
    position:absolute;
    right: 0;
    top: 0;
    width : 100%;
}
.right_bg {
    width : 100%;
    height: 770px;
}
.rigth_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 260px;
    /* right: 450px; */
    right: 50%;
}
.rigth_title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 69px;
    text-align: center;
    color: #373F51;
}
.right_text {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #A9BCD0;
}

@media screen and (max-width: 900px) {
    .signUp {
        display: flex;
        justify-content: center;
    }
    .right {
        display: none;
    }
    .left {
        margin-left: 0;
    }
    .logo_img {
        width: 250px;
    }
    .remember_name {
        font-size: 14px;
    }
    .forgot_name {
        font-size: 14px;
    }
    .comment {
        font-size: 12px;
    }
    .title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .body {
        padding: 15px 15px;
    }
}
@media screen and (max-width: 420px) {
    .country {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .country_field {
        width: 100%;
        margin: 5px 0;
    }
    .left {
        padding: 15px 20px;
    }
}