.bar {
  width: 100%;
  background-color: #58a4b0;
  padding: 1.3em 3em 1.3em 3em;
  display: flex;
  z-index: 90;
}

.img {
  border-radius: 5%;
}

.det {
  padding-left: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tit {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-right: 1em;
}

.txt {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}
